@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sound {
    font-family: 'Playfair Display', serif;
}

.pronunciation i, b {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
    }


    figure {
        display: flex;
        flex-flow: column;
        padding: 5px;
        /* max-width: 220px; */
        margin: auto;
      }

      /* img {
        max-width: 220px;
        max-height: 150px;
      } */

      figcaption {
        text-align: center;
      }
